<br /><br />
<div class="divider"></div>
<footer>
	<div class="wrapper">
		<div class="col">
			<div class="partners">
				<img ng-src="img/logo.png" class="logo">
				<br />IN SAMENWERKING MET<br />
				<img ng-src="img/vb.jpg" class="partnerlogo">
				<img ng-src="img/rp26.jpg" class="partnerlogo">
			</div>
		</div>
		<div class="col">
			<p>TRAINING REGELS</p>
			<ul class="regels">
				<li>breng je muziek mee op usb stick, we hebben een muziek laptop</li>
				<li>behandel elkaar met respect</li>
				<li>help elkaar nieuwe dingen te leren</li>
				<li>ruim je afval op</li>
				<li>geen drugs en/of alcohol</li>
			</ul>
		</div>
		<div class="col">
			<p>VOLG FRESHNESS OP FACEBOOK</p>
			<div class="fb-follow" data-href="https://www.facebook.com/frshnss" data-width="300" data-colorscheme="dark" data-layout="standard" data-show-faces="true"></div>
			<br /><br /><br />
			<p>MEER INFO NODIG?</p>
			<p><span>Stuur ons een mailtje via <a href="mailto:info@frshnss.be">info@frshnss.be</a></span></p>
		</div>
	</div>
	<div class="divider" style="background-color:white;height:5px;"></div>
	<div>
		<p class="disclaimer">copyright &copy; 2011 - 2014 FRESHNESS</p>
	</div>
</footer>