<br /><br />
<div class="divider"></div>
<footer>
	<div class="wrapper">
		<div class="col">
			<div class="partners">
				<img ng-src="img/logo.png" class="logo">
				<br /><span>in cooperation with</span><br />
				<img ng-src="img/vb.jpg" class="partnerlogo">
				<img ng-src="img/rp26.jpg" class="partnerlogo">
				<br /><a href="index.html#/partners">more partners...</a>
			</div>
		</div>
		<div class="col">
			<div class="connect">
				<p>FOLLOW US ON FACEBOOK</p>
				<div class="fb-follow" data-href="https://www.facebook.com/frshnss" data-width="300" data-colorscheme="dark" data-layout="standard" data-show-faces="true" style="z-index: 0;"></div>
				<br /><br /><br />
				<p>NEED MORE INFO?</p>
				<p><span>mail us on <a href="mailto:info@frshnss.be">info@frshnss.be</a></span></p>
			</div>
		</div>
		<div class="col">
			<div class="rules">
				<p>TRAINING RULES</p>
				<ul class="regels">
					<li><img class="frsh-bullet" ng-src="img/bullet_bl.png"/>Bring your music</li>
					<li><img class="frsh-bullet" ng-src="img/bullet_bl.png"/>Respect eachother</li>
					<li><img class="frsh-bullet" ng-src="img/bullet_bl.png"/>Each one, teach one</li>
					<li><img class="frsh-bullet" ng-src="img/bullet_bl.png"/>Trow your trash in the bin</li>
					<li><img class="frsh-bullet" ng-src="img/bullet_bl.png"/>No drugs or alcohol</li>
					<li class="accept"><input type="checkbox" /> I've read &amp; accept these rules.<br />
					<a href="index.html#/accept"><button>Accept</button></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="divider" style="background-color:white;height:5px;"></div>
	<div>
		<p class="disclaimer">copyright &copy; 2011 - 2015 FRESHNESS</p>
	</div>
</footer>