<div class="what" id="what">
	<img class="frsh-bullet" ng-src="img/bullet.png"/><h1>{{name | uppercase}}</h1>
	<div class="smalldivider"></div>

	<div>
		<p>
			<b>FRESHNESS</b> is an association <b>by the HipHop Community for the HipHop Community</b>. Our main goal is to create a platform where people can <b>meet</b>, <b>learn</b> from and <b>have fun</b> with eachother in an HipHop environment. We mainly organize <b>training sessions</b> which are <b>open and free</b> for everyone. These are not lessons but we do use the "each one, teach one" principle.
			<br /><br />
			Want to know more about us and what we do? Take a look on the <a href="index.html#/about">about page</a>.
		</p>
		<img ng-src="img/grouppic.png" class="imgMaxWidth">
	</div>
</div>